body {
  display: flex;
  flex-flow: column nowrap;
  color: gray;
  font-family: "Raleway", sans-serif;
  min-height: 100vh;
}
.parentDiv {
  border-bottom: 0.5px solid #ddd;
  padding: 20px;
}
.searchParent {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.searchBar {
  width: 97%;
  font-size: 16px;
  padding: 10px;
  border: 1px solid white;
  border-bottom: 1.5px solid #ddd;
  color: black;
  margin-bottom: 15px;
  z-index: 0;
}
.userInfoDiv {
  display: flex;
  flex-flow: column nowrap;
  padding: 0;
  margin: 0;
}
.nameDiv {
  margin-left: 10px;
  margin-bottom: 10px;
}
.detailsDiv {
  margin: 0 0 15px 25px;
  line-height: 0.5;
}
.expandDiv {
  font-weight: lighter;
  font-size: 14px;
  line-height: 1.5;
}
.expandDiv ul li {
  list-style-type: none;
}
/* individual classes */
.photo {
  width: 125px;
  border: 2px solid rgb(168, 166, 166);
  border-radius: 50%;
}
.fullName {
  color: black;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}
.iconParent {
  background-color: inherit;
  border: none;
}
/* for tags */
.textInput {
  border: none;
  border-bottom: 1px solid black;
  width: fit-content;
  border-radius: 0px !important;
}
.newTag {
  background-color: rgb(200, 200, 200);
  color: black;
  width: fit-content;
  padding: 12px;
  border-radius: 2px;
  margin-bottom: 4px;
}

@media (max-width: 767px) {
  .parentDiv {
    justify-content: center;
  }
  .photoDiv {
    justify-content: center;
    margin-bottom: 10px;
  }
  .userInfoDiv {
    align-items: center;
  }
  .iconParent {
    justify-content: center;
  }
}
